{% extends 'base.html.twig' %}

{% block title %}Correspondance entre stockx et sneakers-heat{% endblock %}

{% block body %}
    <div class="white-board">
        <form method="POST" action="/{% if id %}edit/{{ id }}{% endif %}">
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-success" value="Enregistrer" />
        </form>
        <table class="table">
            <tr>
                <th>Index</th>
                <th>Shopify Url</th>
                <th>Stockx Url </th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
            {% for mapping in mappings %}
                <tr>
                    <td>{{ mapping.id }}</td>
                    <td>{{ mapping.ShopifyUrl }}</td>
                    <td>{{ mapping.StockxUrl }}</td>
                    <td><a class="btn btn-success" href="/edit/{{ mapping.id }}">Modifier</a></td>
                    <td><a class="btn btn-danger confirm" href="/delete/{{ mapping.id }}">Supprimer</a></td>
                </tr>
            {% endfor %}
        </table>
        {{ pagination | raw }}
    </div>
{% endblock %}
{% block javascripts %}
<script>
    $(function() {
        console.log('confirm');
        $('.confirm').click(function(e) {
            e.preventDefault();
            if (window.confirm("Are you sure?")) {
                location.href = this.href;
            }
        });
    });
</script>
{% endblock %}
